body {
  background-image: url("assets/concert_photo.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

/* elements */

h1,
li {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

/* classes */

.top-nav {
  display: inline;
  float: right;
  padding: 12px;
  color: white;
  font-family: "Audiowide", sans-serif;
}

/* Social media section  */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-spotify {
  color: white;
}

.microphone {
  width: 100px;
}

.first-image {
  width: 100vh;
}

.studio-artist {
  width: 100vh;
  height: 100vh;
  float: right;
}

.music-player {
  width: 200px;
}

.second-nav {
  float: right;
  font-family: "Audiowide", sans-serif;
}

/* a tags */

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* section 2  */
.about-section {
  float: right;
  font-family: "Audiowide", sans-serif;
}

/* section 3  */
