body {
  background-image: url("assets/concert_photo.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Avenir LT Pro", sans-serif;
}

/* Reset default margin and padding for body */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Elements */
h1 {
  font-weight: bold;
  color: black;
  font-size: 65px;
}

button {
  font-family: "Audiowide", sans-serif;
}

/* Classes */

.symbol {
  transform: rotate(90deg);
  font-size: 75px;
  display: inline-block;
  text-align: center;
  color: orange;
  line-height: -10px;
}

.frames {
  white-space: nowrap;
}

.goodvibes {
  color: white;
  font-size: 20px;
  line-height: 125px;
}

.container {
  display: flex;
}

.Discover,
.explore-page,
.about-page {
  font-size: 50px;
}

.guy_music {
  width: 70vh;
  height: 70vh;
  float: right;
}

.nav {
  text-align: center;
}

.logo-container {
  display: flex;
  border-bottom: 2px solid black;
  margin: 0 auto; /* Centered the container */
}

.press-play {
  display: inline-block;
  text-align: center;
  font-size: 85px;
  color: orange;
}

.sign-up {
  font-size: 20px;
  margin: 8px;
}

/* Social media section */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-spotify {
  color: white;
}

.play_button {
  width: 150px;
  margin-right: 10px;
}

.studio-artist {
  height: 200px;
}

.second-nav {
  font-family: "Audiowide", sans-serif;
  color: white;
}

/* a tags */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Section 2 */
.about-section {
  padding: 30px;
  float: right;
  font-family: "Sedgwick Ave", cursive;
}

/* Section 3 */

/* @media */
@media screen and (min-width: 640px) {
  .fa-spotify {
    color: green;
    height: 120px;
  }
}
